<div id="payment-form-container">
  <span id="payment-errors"></span>
  <form action="/locomotive/plugins/stripe/charge<% if @options[:submit_model]%>?model_slug=<%= @options[:submit_model]%><% end%>" method="POST" id="payment-form">
